<head>
    <%= stylesheet_link_tag "ranking" %>
    <style>
    @font-face 
    {
      font-family: "CaviarDreams";
      src: url("fonts/CaviarDreams.ttf");
    }
    @font-face 
    {
      font-family: "Sunday";
      src: url("fonts/Sunday.otf");
    }
</style>
<strong>
   <%= link_to "LOGGER POMPEK", profile_index_path, class: "home_page_on_profile_page" %>
</strong>
</head>
<body>
    <script>
        function ShowNagivationVertical() 
        {
             if (document.getElementById("nagivationVertical").style.display === "none") 
            {
                document.getElementById("nagivationVertical").style.display = "block";
            } 
            else 
            {
                document.getElementById("nagivationVertical").style.display = "none";
            }
        }
    </script>
    <%= image_tag("profile.png", :alt => "profile", class: "profile") %>

    <div class="nagivationHorizontal">
    </div>

    <button onclick="ShowNagivationVertical()" class="showNavVer"><%= image_tag("icons8-menu-50.png", :alt => "icon", class: "icon") %></button></li>

    <div id="nagivationVertical">
        <div class="dateProfile">
            <h1 class="helloProfile">Witaj <%= @user.name %> <%= @user.surname %></h1>
            <h3 class="nickProfile">jako <%= @user.nick %></h3>
        </div
        <ul class="list_button">
            <li class="list_li"><%= link_to "PROFIL", date_path(@user.id), class: "buttonNavVer" %></li>
            <li class="list_li"><%= link_to "TRENING", training_path(@user.id), class: "buttonNavVer" %></li>
            <li class="list_li"><%= link_to "RANKING", ranking_path(@user.id), class: "buttonNavVer" %></li>
            <li class="list_li"><%= button_to 'WYLOGUJ SIĘ', destroy_user_session_path, method: :delete, class: "buttonNavVer" %></li>
        </ul>
    </div>

    <%= link_to "RANKING", ranking_path(@user.id), class: "panel" %>
        
    <div class="top_user">
        <h1>TOP 5</h1>
        <h3>którzy pompują najwięcej powtórzeń w tygodniu</h3>
        <% if @top5_with_rep.empty? %>
            <p>Ranking jest pusty.</p>
        <% else %>
            <ol>
            <% @top5_with_rep.each do |person| %>
                <li>
                    <p><%= person.name %> <%= person.surname %></p>
                </li>
            <% end %>
        <% end %>
        </ol>
        <h1>TOP 5</h1>
        <h3>którzy pompują najwięcej w tygodniu</h3>
        <% if @top5.empty? %>
            <p>Ranking jest pusty.</p>
        <% else %>
            <ol>
            <% @top5.each do |person| %>
                <li>
                    <p><%= person.name %> <%= person.surname %></p>
                </li>
            <% end %>
        <% end %>
        </ol>
        <h1>TOP 4</h1>
        <h3>którzy pompują najwięcej powtórzeń</h3>
        <% if @top4.empty? %>
            <p>Ranking jest pusty.</p>
        <% else %>
            <ol>
            <% @top4.each do |person| %>
                <li>
                    <p><%= person.name %> <%= person.surname %></p>
                </li>
            <% end %>
        <% end %>
        </ol>
        <h1>TOP 3</h1>
        <h3>którzy pompują najwięcej treningów w miesiącu</h3>
        <% if @top3.empty? %>
            <p>Ranking jest pusty.</p>
        <% else %>
            <ol>
            <% @top3.each do |person| %>
                <li>
                    <p><%= person.name %> <%= person.surname %></p>
                </li>
            <% end %>
        <% end %>
        </ol>
    </div>
</body>

